allow system_server touchpanel_sysfs:dir search;
allow system_server touchpanel_sysfs:file rw_file_perms;

allow system_server sensors_device:chr_file rw_file_perms;

get_prop(system_server, bg_boot_complete_prop)
get_prop(system_server, bg_daemon_prop)
get_prop(system_server, boot_animation_prop)
get_prop(system_server, boot_mode_prop)
get_prop(system_server, camera_prop)
get_prop(system_server, coresight_prop)
get_prop(system_server, crash_prop)
get_prop(system_server, dolby_prop)
get_prop(system_server, fm_prop)
get_prop(system_server, logpersistd_logging_prop)
get_prop(system_server, media_msm8939hw_prop)
get_prop(system_server, mmc_prop)
get_prop(system_server, mmi_prop)
get_prop(system_server, mpdecision_prop)
get_prop(system_server, netd_prop)
get_prop(system_server, nfc_nq_prop)
get_prop(system_server, persistent_properties_ready_prop)
get_prop(system_server, postprocessing_prop)
get_prop(system_server, qcom_ims_prop)
get_prop(system_server, qdma_prop)
get_prop(system_server, qemu_gles_prop)
get_prop(system_server, rmnet_mux_prop)
get_prop(system_server, scr_enabled_prop)
get_prop(system_server, sdm_idle_time_prop)
get_prop(system_server, spcomlib_prop)
get_prop(system_server, sys_usb_configfs_prop)
get_prop(system_server, sys_usb_controller_prop)
get_prop(system_server, sys_usb_tethering_prop)
get_prop(system_server, uicc_prop)
get_prop(system_server, vendor_rild_libpath_prop)
get_prop(system_server, vendor_system_prop)
get_prop(system_server, wcnss_prop)
get_prop(system_server, wififtmd_prop)
